@mixin button($type: outline, $base-color: $violet, $hover-color: darken($violet, 15%)) {
  @include transition(all 0.15s linear);
  @include user-select(none);
  border-radius: 40px;
  border: 2px solid $base-color;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0.8em 2.4em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @if $type == solid {
    background: $base-color;
    color: #fff;

    &:hover {
      border-color: $hover-color;
      background: $hover-color;
    }
  } @else if $type == outline {
    background: transparent;
    color: $base-color;

    &:hover {
      background: $hover-color;
      color: #fff;
    }
  }
}

@mixin large-button($type: outline, $base-color: $violet, $hover-color: darken($base-color, 15%)) {
  @include button($type, $base-color, $hover-color);
  font-size: 1em;
  padding: 1.2em 3.6em;
}

@mixin small-button($type: outline, $base-color: $violet, $hover-color: darken($base-color, 10%)) {
  @include button($type, $base-color, $hover-color);
  font-size: 0.5em;
  padding: 0.8em 1.2em;
}

@mixin rectangle-button {
  background-color: $green;
  padding: 16px 20px;
  color: $white;
  font-size: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: normal;
}
