body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.contents {
  @include outer-container;
  padding-top: 20px;
}

.btn {
  @include button;
}

.btn-sm {
  @include small-button;
}

.spinner {
  text-align: center;
  padding: 0.8em;
  font-size: 3em;

  .fa-spin {
    animation: fa-spin 0.4s infinite linear;
  }
}

.user-avatar {
  display: inline-block;
}
