.topic {
  margin-bottom: 50px;
  border-bottom: 1px solid $gray;
}

.topic-header {
  padding: 10px 20px;
  border-bottom: 1px solid $gray;
}

.topic-body {
  padding: 50px;
  border-bottom: 1px solid $gray;
}
