body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.contents {
  @include outer-container;
  display: inline-block;
  padding-top: 20px;
}

.btn {
  @include button;
}

.btn-sm {
  @include small-button;
}
